*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

label{
    color: #fff;
    margin-right: 5px;
}

h2{
    font-size: 1.2rem;
    color: #fff;
}

.controls{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    padding: 10px;
    right: 0;
}

.controls-btn{
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #fff;

    border-radius: 8px;
    align-self: center;
    cursor: pointer;
}

.controls-btn:hover{
    background-color: #fff;
}

.controls form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}